<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:app="http://schemas.android.com/apk/res-auto"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission
    android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
    tools:ignore="ScopedStorage" />
  <uses-permission android:name="android.permission.BIND_EXTERNAL_STORAGE_SERVICE" />
  <uses-permission android:name="android.permission.BIND_DIRECTORY_SEARCH" />
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher"
    android:supportsRtl="false"
    android:enableOnBackInvokedCallback="true"
    android:name="org.robok.engine.RobokApplication"
    android:theme="@style/Theme.Robok"
    android:requestLegacyExternalStorage="true">
    <activity
      android:name="org.robok.engine.ui.activities.MainActivity"
      android:exported="true"
      android:windowSoftInputMode="adjustResize">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name="org.robok.engine.ui.activities.debug.AppFailureActivity"
      android:exported="true" />

    <activity
      android:name="org.robok.engine.ui.activities.terminal.TerminalActivity"
      android:exported="true" />

    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="${applicationId}.provider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/file_paths" />
    </provider>

  </application>

</manifest>
